node_modules
*.DS_Store
.vscode

*.tsbuildinfo
yarn-error.log

.idea/
.env

.husky

dist
coverage

# api
api/oracle-cloud/build
api/fetch_cache
api/nodemon.json

# web
web/bundle

# mobile
mobile/.expo

# data
data/nodemon.json
