node_modules
*.DS_Store
.vscode

*.tsbuildinfo

.idea/
.env

.husky
.ts-prunerc

dist
coverage
.bundle-info.json

# api
api/oracle-cloud/build
api/fetch_cache
api/sqlite_db
api/nodemon.json

# web
bundle
build
src/_e2e-test/downloads
src/_e2e-test/videos
src/_e2e-test/screenshots

# Project
*/cloudflare/public

# mobile
mobile/.expo

# data
data/nodemon.json
