<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- @TODO-ZM: add head tags -->
  </head>
  <body>
    <slot />
  </body>
</html>
