@import "../../../../../common/style/variables";

.landing {
  .header {
    height: 100vh;
    margin-top: $navbar-height;
    box-sizing: border-box;
    z-index: 1;
    background-image: radial-gradient(
      70% 70% at 50% 100%,
      #e8e8e8 0,
      #fafafa 100%
    );
    background-size: cover;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .shade {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.02);
      z-index: -1;
    }
    .actions {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title {
        font-size: calc(1.2rem + 1.2vw);
        font-weight: 600;
        text-align: center;
        padding: 1rem;
      }
      .description {
        padding: 20px;
        font-size: calc(1rem + 1vw);
        text-align: center;
      }
    }
  }

  .socialMedia {
    display: flex;
    width: 60vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    .item {
      font-size: 1.1rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      padding: 1rem;
      width: 120px;
      z-index: 5;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }

      a {
        text-decoration: none;
        color: $text-primary;
      }
    }

    .icon {
      width: calc(30px + 1vw);
      height: calc(30px + 1vw);
      margin-right: 20px;
    }
  }
}

@media only screen and (max-width: $large) {
  .header {
    .socialMedia {
      display: none;
    }
  }
}
