@import "../../../../../common/style/variables";

.landing {
  .header {
    height: 100vh;
    margin-top: -$navbar-height;
    padding-top: $navbar-height;
    box-sizing: border-box;
    background-color: darken($color: #fff, $amount: 10);
  }
}
