node_modules
*.DS_Store
.vscode

*.tsbuildinfo
yarn-error.log

.idea/
.env

.husky
.ts-prunerc

dist
coverage
.bundle-info.json

# api
api/oracle-cloud/build
api/fetch_cache
api/nodemon.json

# web
web/bundle
web/build
web/src/_e2e-test/downloads
web/src/_e2e-test/videos
web/src/_e2e-test/screenshots

# mobile
mobile/.expo

# data
data/nodemon.json
