@import "./variables";

.btn {
  text-decoration: none;

  font-size: small;
  padding: 0.6rem 1rem;

  &__primary {
    background: $primary;
    color: $light;
  }

  &__secondary {
    background: $secondary;
    color: $light;
  }
}
