// TODO: update color palette
// colors
$primary: #1c8ad8;
$secondary: #dc004e;
$dark: #000;
$light: #fff;
$link: #1890ff;

// TODO: update responsiveness range
// responsiveness
$regular: 800px;
$medium: 600px;
$small: 420px;
$x-small: 330px;

// others
$navbar-height: 80px;
