// Colors
$primary: #dc004e;
$secondary: #1c8ad8;
$dark: #333;
$light: #fff;
$link: #1890ff;

$text-primary: #333;
$text-secondary: #ffffff;
$bg-primary: #ffffff;
$bg-secondary: #333;

// MediaQueries
$X-large: 1600px;
$large: 1200px;
$regular: 800px;
$medium: 600px;
$small: 420px;
$x-small: 330px;

// others
$navbar-height: 4rem;

// Fonts
$font-primary: Helvetica, Arial, sans-serif;

// animation
$transition-speed: 600ms;
