@import "../../../../../common/style/variables";

.faq__item {
  cursor: pointer;
  outline: none;
  margin: 15px 0;
  .faq__item__question {
    font-size: 21px;
    font-weight: 700;
    border-bottom: 1px solid lightgray;
    padding: 14px;
    margin: 5px 0;
    border-radius: 5px;
    &:hover {
      outline: none;
    }
    &:focus {
      outline: none;
    }
  }
  .faq__item__answer {
    margin: 5px 0;
    font-size: 20px;
    line-height: 35px;
    opacity: 0;
    display: none;
    background-color: rgba(51, 51, 51, 0.05);
  }
  .open__answer {
    height: auto;
    padding: 15px;
    display: block;
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  &:hover {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}
