@import "../../common/style/variables";

.btn-btn {
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 7px;
  font-size: calc(15px + 0.15vw);
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  color: #fff;
  margin: 1rem;

  &.primary {
    background-color: rgba($color: $primary, $alpha: 0.9);
    &:hover {
      background-color: rgba($color: $primary, $alpha: 1);

      color: #fff;
    }
  }

  &.secondary {
    border: 1px solid rgba($color: $secondary, $alpha: 0.95);
    color: rgba($color: $secondary, $alpha: 0.95);
    &:hover {
      color: #fff;
      background-color: $secondary;
    }
  }
}
