@import "../../../../../common/style/variables";

.projects {
  .catalog {
    padding: 1rem;
    width: 100%;
    display: inline-block;
    .item {
      display: block;
      padding: 1rem;
      cursor: pointer;
    }
    .item:hover {
      background-color: wheat;
    }
    @media screen and (min-width: $regular) {
      width: 20%;
    }
  }
}
