.footer-grid {
  width: 100%;
  min-height: 400px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, max-content);
  justify-content: center;
  align-items: center;

  background-color: #202325;

  h2 {
    color: rgba($color: #fff, $alpha: 0.9);
  }
  &-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 60%;
  }
  &-link {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 15px;
    color: rgba($color: #fff, $alpha: 0.8);
  }
}
.copyright {
  background-color: #202325;
  color: #fff;
  font-size: calc(16px + 1vw);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(30px + 2vw);
  text-align: center;
}
