@import "../../../../common/style/variables";

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30% 20% 0%;
  header {
    display: none;
  }

  button {
    cursor: pointer;
  }
  h1 {
    font-size: 1rem;
    margin: 0;
  }
  h2 {
    font-size: 0.8rem;
    margin: 0;
  }
  a {
    
    font-size: 1rem;
    display: block;
    color: #000;
    margin: 0;

    text-decoration: none;
  }

  h1 {
    font-size: calc(1.4rem + 1vw);
    color: $primary;
    text-transform: uppercase;
  }

  p {
    font-size: calc(1rem + 0.3vw);
  }
  .left {
    margin: 0 1rem;
  }

  .right {
    width: 100%;
    margin: 2rem 2rem 4rem;

    .map {
      height: 300px;
      width: 100%;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    label {
      font-size: 0.95rem;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      margin-top: 1rem;

      input,
      textarea {
        font-size: calc(16px + 0.4vw);
        color: rgba($color: #000, $alpha: 0.9);
        padding: 0.9rem;
        margin: 0.5rem 0;
        background-color: rgba($color: #fff, $alpha: 0.9);
        border: 1px solid #1d1d1d;
        margin-top: 0.6rem;

        &:focus {
          background-color: rgba($color:white, $alpha: 0.9);
          border: 1px solid #1d1d1d;
          border-left: 2px solid red;
          

          
          color: #000;
          outline: none;
        }
      }
    }
    button {
      width: 100%;
      padding: 0.8rem;
      margin: 1rem 0;
      outline: none;
      background-color: #1d1d1d;
      border: 1px solid #1d1d1d;
      color: #fff;
      margin-bottom: 3rem;
      font-size: calc(15px + 0.1vw);
      &:hover {
        background-color: rgba($color: $primary, $alpha: 1);
        color: #fff;
        transition: .5s;
      }
    }
  }
}

@media only screen and (min-width: $medium) {
  .contact {
    flex-direction: row;
    justify-content: center;
    padding: 5% 3px;
    background-color: rgba($color: #fff, $alpha: 0.1);
    margin-bottom: 5%;
    
    

    header {
      display: block;
    }

    

    .left {
      max-width: 40%;
      margin: 0 6rem;
    }

    .right {
      width: 20%;
      margin: 0;

      .map {
        height: 500px;
        width: 100%;
      }
    }

    form {
      label {
        font-size: calc(16px + 00.2vw);

        input,
        textarea {
          
          padding: 0.8rem;
        }
      }
    }
  }
}

