@tailwind base;
@tailwind components;
@tailwind utilities;

.absolute-center-child {
  position: relative;
  align-self: center;

  > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.markdown a {
  @apply text-blue-500;
  @apply hover:text-blue-700;
  @apply underline;
}

.markdown ul {
  @apply list-inside;
  @apply list-disc;
}
