name: Deploy To Production Environment

on:
  push:
    tags:
      - "v*"

jobs:
  install-build-deploy:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [14.x]
        os: [ubuntu-latest]

    steps:
      - name: "Git"
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_ZAK_PAT }}
      - name: "SSH"
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
      - name: "Nodejs"
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
      - name: "Expo"
        uses: expo/expo-github-action@v6
        with:
          expo-version: 4.x
          token: ${{ secrets.EXPO_TOKEN }}

      - name: "Install"
        shell: bash
        run: |
          yarn --frozen-lockfile --network-timeout 1000000

      - name: "Version"
        shell: bash
        run: |
          yarn version:apply ${{ github.ref_name }}
          yarn version:push ${{ github.ref_name }}

      - name: "Bundle info"
        shell: bash
        run: |
          yarn generate:bundle-info ${{ github.ref_name }}

      - name: "Build"
        shell: bash
        run: |
          yarn build

      - name: "Deploy"
        shell: bash
        run: |
          yarn deploy:stg

        env:
          CI: true
          SSH_KNOWN_HOSTS: ${{ secrets.SSH_KNOWN_HOSTS }}
          SSH_ADDRESS_PRD: ${{ secrets.SSH_ADDRESS_PRD }}
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
