name: "Code Conformity check for frontend folder"

on:
  pull_request:
    branches:
      - master
      - development
    paths:
      - ".github/workflows/cgl-frontend.yml"
      - "frontend/**"

jobs:
  Build-Check:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: "Checking Code Conformity with Style Guidelines"
        run: |
          cd frontend
          yarn
          yarn eslint:check
          yarn prettier:check

        env:
          CI: true
