name: "Code Conformity check for fullstack folder"

on:
  pull_request:
    branches:
      - master
      - development
    paths:
      - ".github/workflows/cgl-fullstack.yml"
      - "fullstack/**"

jobs:
  Build-Check:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: "Checking Code Conformity with Style Guidelines"
        run: |
          cd fullstack
          yarn
          yarn eslint:check --quiet
          yarn prettier:check

        env:
          CI: true
