name: "CI End to End tests for PullRequest"

on:
  pull_request:

jobs:
  install-build-lint-test-misc:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [14.x]
        os: [ubuntu-latest]
        browser: [chrome, firefox, edge]
      fail-fast: false

    steps:
      - name: "Git"
        if: always()
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: "Nodejs"
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"

      - name: "Install"
        shell: bash
        run: |
          yarn --frozen-lockfile --network-timeout 1000000

      - name: "Cypress"
        uses: cypress-io/github-action@v5.5.1
        with:
          start: yarn dev:web
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 120
          browser: ${{ matrix.browser }}
          project: ./web

      - name: "Artifacts"
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: cypress-videos
          path: web/cypress/videos
          retention-days: 1

        env:
          CI: true
